<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Donate funds in the future</title>
    <base href="/" />
  </head>
  <body>
	  <h1>Donate funds in the future</h1>
    <div id="root"></div>
  </body>
</html>
